
.data-entry {
  width: 100%; /* Cada registro ocupa todo el ancho disponible */
  margin-bottom: 2em; /* Espaciado inferior entre registros */
  padding: 1em; /* Espaciado interno para un diseño más limpio */
  border: 1px solid #ccc; /* Borde suave para separar visualmente */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #9f9898; /* Fondo ligero para destacar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.data-entry:last-child {
  margin-bottom: 0; /* Elimina el margen inferior del último registro */
}

.data-item {
  margin: 0.5em 0; /* Espaciado entre etiquetas y valores */
}
