@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffff;
  min-height: 1500px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #848482;
  z-index: 10000;
  mix-blend-mode: color;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#text {
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}

#road {
  z-index: 1;
}

/* Tama침o PC */
@media (min-width: 1024px) {
  #moon {
    display: block;
  }
  #text {
    font-size: 10rem;
  }
}

/* Tama침o Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #moon {
    display: none;
  }
  #text {
    font-size: 8rem;
  }
}

/* Tama침o M칩vil */
@media (max-width: 767px) {
  #moon {
    display: none;
  }
  #text {
    font-size: 4.5rem;
  }
}